@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --royal-blue: #0a3d91;
  --turquoise: #1abc9c;
  --gold: #f1c40f;
  --light: #f9f9f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
}

h3 {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

footer {
  width: 100%;
}
.span {
  margin-top: 8px;
  font-weight: bold;
}

.logo {
  width: 150px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 6px 18px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 6px 18px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 18px 2px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 15px;
  /* border: 2px solid red; */
}

.logo a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  color: var(--royal-blue);
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0px 30px 10px 30px; */
}

a {
  text-decoration: none;
}

body {
  background: #fff;
  color: #333;
}

header {
  background: var(--royal-blue);
  width: 100%;
  color: white;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding: 20px;
  /* border: 2px solid red; */
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;

  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px;
}
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/hero.jpg") center/cover;
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding: 100px 20px;
  margin-bottom: 80px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.para-text {
  margin-bottom: 15px;
}
.btn {
  width: 15%;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
  border: 2px solid var(--gold);
  color: #fff;
  background-color: var(--gold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  outline: none;
}

.btn:hover {
  color: var(--gold);
  background-color: #fff;
}

.about {
  width: 80%;
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about img {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.section {
  padding: 60px 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  /* border: 2px solid red; */
}

.card img {
  height: 95%;
  width: 100%;
}

.card span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.contact {
  height: 100%;
  padding: 3rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 16px;
  /* border: 2px solid red; */
}

.location_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
  /* align-items: center; */
  gap: 16px;
  /* border: 2px solid red; */
}

.tel,
.email {
  display: flex;
  gap: 8px;
  flex-direction: column;
  /* border: 3px solid red; */
}
@media (max-width: 39.9375em) {
  .contact {
    width: 100%;
  }
}

.locations {
  width: 1040px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.portfolio-brief-text {
  margin-top: 2em;
  padding: 10px 16px;
}
.contact .form {
  width: 600px;
  height: 100%;
  margin: 4rem 0 2rem;
}
@media (max-width: 39.9375em) {
  .contact .form {
    width: 100%;
  }
}
.contact .form .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 39.9375em) {
  .contact .form .contact-form {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.contact .form .contact-form .form-text textarea {
  width: 70%;
  height: 250px;
  border: 1px solid #49535d;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}
@media (max-width: 39.9375em) {
  .contact .form .contact-form .form-text textarea {
    width: 100%;
  }
}
@media (max-width: 39.9375em) {
  .contact .form .contact-form .form-text {
    width: 90%;
  }
}
.contact .form .contact-form .submit-btn {
  width: 25%;
  height: 40px;
  border-radius: 12px;
  font-weight: 700;
  border: 2px solid var(--gold);
  background-color: #fff;
  color: var(--gold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  outline: none;
}
@media (max-width: 39.9375em) {
  .contact .form .contact-form .submit-btn {
    width: 40%;
  }
}
.contact .form .contact-form .submit-btn:hover {
  background-color: var(--gold);
  color: #fff;
}
.contact .form .form-name,
.contact .form .form-email,
.contact .form .form-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact .form .form-name input,
.contact .form .form-email input,
.contact .form .form-text input {
  width: 70%;
  height: 40px;
  border: 1px solid #49535d;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  padding-inline: 0.5rem;
}
@media (max-width: 39.9375em) {
  .contact .form .form-name input,
  .contact .form .form-email input,
  .contact .form .form-text input {
    width: 100%;
  }
}
@media (max-width: 39.9375em) {
  .contact .form .form-name,
  .contact .form .form-email {
    width: 90%;
  }
}

footer {
  background: var(--royal-blue);
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .logo {
    width: 100px;
    height: 50px;
    padding: 20px;
    border-radius: 4px;
    /* border: 2px solid red; */
  }

  .logo a {
    font-size: 15px;
  }

  .about-text {
    width: 100%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--royal-blue);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .section {
    padding: 30px 10px;
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .flex {
    flex-direction: column;
  }
  .about img {
    width: 100%;
  }

  .locations {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 3px solid red; */
  }

  .location_1,
  .con {
    width: 100%;
  }

  .btn {
    width: 120px;
  }

  .hero h1 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
